In [12]:
# a quick look at my packages (huehuehue)
#pip list

## Corn Futures from Yahoo Finance

In [35]:
import yfinance as yf
import pandas as pd
import numpy as np

In [18]:
#Corn Futures is listed on Yahoo Finance under ticker ZC=F
cbot = yf.Ticker("ZC=F")

# get stock info
#cbot.info

# get historical market data
# The valid options are 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y and ytd.
hist = cbot.history(period="10y")

# show actions (dividends, splits)
#cbot.actions

# show dividends
#cbot.dividends

# show splits
#cbot.splits

In [11]:
cbot.info

{'exchange': 'CBT', 'shortName': 'Corn Futures,Mar-2023', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EST', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-18000000', 'underlyingSymbol': 'ZCH23.CBT', 'quoteType': 'FUTURE', 'symbol': 'ZC=F', 'underlyingExchangeSymbol': 'ZCH23.CBT', 'headSymbol': 'ZC=F', 'market': 'us24_market', 'previousClose': 677, 'regularMarketOpen': 676.75, 'twoHundredDayAverage': 697.16125, 'trailingAnnualDividendYield': None, 'payoutRatio': None, 'volume24Hr': None, 'regularMarketDayHigh': 681, 'navPrice': None, 'averageDailyVolume10Day': 170314, 'totalAssets': None, 'regularMarketPreviousClose': 677, 'fiftyDayAverage': 659.035, 'trailingAnnualDividendRate': None, 'open': 676.75, 'toCurrency': None, 'averageVolume10days': 170314, 'expireDate': 1678752000, 'yield': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'beta': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 673.75, 'priceHint': 2, 'currency': 'USX', 'regularMarketVolume': 109673, 'lastMarket': None, 'maxSupply': None, 'openInterest': 486758, 'marketCap': None, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 119784, 'priceToSalesTrailing12Months': None, 'dayLow': 673.75, 'ask': 674.5, 'ytdReturn': None, 'askSize': 1400, 'volume': 109673, 'fiftyTwoWeekHigh': 827, 'forwardPE': None, 'maxAge': 1, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 561.5, 'bid': 674.5, 'tradeable': False, 'dividendYield': None, 'bidSize': 900, 'dayHigh': 681, 'coinMarketCapLink': None, 'regularMarketPrice': 674, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/Corn.com', 'trailingPegRatio': None}

In [22]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-01-25 00:00:00-05:00,725.00,727.50,717.50,720.75,110652,0.0,0.0
2013-01-28 00:00:00-05:00,722.75,729.75,719.00,729.25,101032,0.0,0.0
2013-01-29 00:00:00-05:00,728.50,732.50,727.50,729.50,109083,0.0,0.0
2013-01-30 00:00:00-05:00,729.00,741.00,725.50,740.25,152247,0.0,0.0
2013-01-31 00:00:00-05:00,739.25,744.50,734.25,740.50,163800,0.0,0.0
...,...,...,...,...,...,...,...
2023-01-19 00:00:00-05:00,680.00,685.25,676.00,677.25,149959,0.0,0.0
2023-01-20 00:00:00-05:00,675.50,678.00,672.50,676.25,134978,0.0,0.0
2023-01-23 00:00:00-05:00,674.00,674.75,661.25,666.25,184766,0.0,0.0
2023-01-24 00:00:00-05:00,667.00,677.50,666.25,677.00,184766,0.0,0.0
2023-01-25 00:00:00-05:00,676.75,681.00,673.75,674.00,109673,0.0,0.0

In [ ]:
from mitosheet import *; # Analysis Name:id-pcslsuyehd;
    
# Duplicated hist
df = hist.copy(deep=True)

In [ ]:
# convert index to a column
df.reset_index(inplace=True)

In [27]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2013-01-25 00:00:00-05:00,725.00,727.50,717.50,720.75,110652,0.0,0.0
1,2013-01-28 00:00:00-05:00,722.75,729.75,719.00,729.25,101032,0.0,0.0
2,2013-01-29 00:00:00-05:00,728.50,732.50,727.50,729.50,109083,0.0,0.0
3,2013-01-30 00:00:00-05:00,729.00,741.00,725.50,740.25,152247,0.0,0.0
4,2013-01-31 00:00:00-05:00,739.25,744.50,734.25,740.50,163800,0.0,0.0
...,...,...,...,...,...,...,...,...
2509,2023-01-19 00:00:00-05:00,680.00,685.25,676.00,677.25,149959,0.0,0.0
2510,2023-01-20 00:00:00-05:00,675.50,678.00,672.50,676.25,134978,0.0,0.0
2511,2023-01-23 00:00:00-05:00,674.00,674.75,661.25,666.25,184766,0.0,0.0
2512,2023-01-24 00:00:00-05:00,667.00,677.50,666.25,677.00,184766,0.0,0.0
2513,2023-01-25 00:00:00-05:00,676.75,681.00,673.75,674.00,109673,0.0,0.0

In [56]:
#df['Date']
# annoying, needless format

In [33]:
dates = df['Date']

In [36]:
dates = dates.astype(np.int64)
ns_in_day = 24*60*60*np.int64(1e9)
dates //= ns_in_day
dates *= ns_in_day
dates = dates.astype(np.dtype('<M8[ns]'))
dates = pd.Series(dates)
dates

/var/folders/qn/sd1_3x2j4196db03067vql600000gn/T/ipykernel_98182/3588991193.py:1: FutureWarning: casting datetime64[ns, America/New_York] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  dates = dates.astype(np.int64)

0      2013-01-25
1      2013-01-28
2      2013-01-29
3      2013-01-30
4      2013-01-31
          ...
2509   2023-01-19
2510   2023-01-20
2511   2023-01-23
2512   2023-01-24
2513   2023-01-25
Name: Date, Length: 2514, dtype: datetime64[ns]

In [37]:
df['Date'] = dates

In [41]:
# filter temporal domain to match project needs
df = df[(df['Date'] >= '2017-01-01') & (df['Date'] <= '2023-01-25')]

In [57]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

In [60]:
# look at closing costs per year and then average them 
df2 = df[['Date', 'Close']]

In [89]:
# df2[df2.Date <= "2017-12-31"].mean() # closing mean for 2017 is 359.224104
#df2[(df2['Date'] >= '2018-01-01') & (df2['Date'] <= '2018-12-31')].mean() # avg closing cost for 2018 is 368.066265
#df2[(df2['Date'] >= '2019-01-01') & (df2['Date'] <= '2019-12-31')].mean() # avg closing cost for 2019 is 383.387897
#df2[(df2['Date'] >= '2020-01-01') & (df2['Date'] <= '2020-12-31')].mean() # avg closing cost for 2020 is 363.33004
#df2[(df2['Date'] >= '2021-01-01') & (df2['Date'] <= '2021-12-31')].mean() # avg closing cost for 2021 is 581.985119
#df2[(df2['Date'] >= '2022-01-01') & (df2['Date'] <= '2022-12-31')].mean() # avg closing cost for 2022 is 693.885458
#df2[(df2['Date'] >= '2023-01-01') & (df2['Date'] <= '2023-12-31')].mean() # avg closing cost for 2023 (as of January 25th) is 667.375

/var/folders/qn/sd1_3x2j4196db03067vql600000gn/T/ipykernel_98182/3863831673.py:5: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df2[(df2['Date'] >= '2021-01-01') & (df2['Date'] <= '2021-12-31')].mean() # avg closing cost for 2021 is 581.985119

Close    581.985119
dtype: float64

In [72]:
# make a dictionary with the results, convert it to a pandas date frame, then save as csv
comp = {'year': ['2017', '2018', '2019', '2020', '2021', '2022', '2023'],
        'avg_closing_cost': [359.224104, 368.066265, 383.387897, 363.33004, 581.985119, 693.885458, 667.375]
       }
df3 = pd.DataFrame(data=comp)
df3

   year  avg_closing_cost
0  2017        359.224104
1  2018        368.066265
2  2019        383.387897
3  2020        363.330040
4  2021        581.985119
5  2022        693.885458
6  2023        667.375000

In [74]:
# save as csv
df3.to_csv('corn_futures_avg_closing_cost_per_year.csv')

## Soybean Futures from Yahoo Finance

In [75]:
# soybean Futures is listed on Yahoo Finance under ticker ZC=F
soy = yf.Ticker("ZS=F")

# get stock info
#soy.info

# get historical market data
# The valid options are 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y and ytd.
hist2 = soy.history(period="10y")

In [79]:
df4
df4.reset_index(inplace=True)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2013-01-25 00:00:00-05:00,1436.00,1445.00,1426.00,1441.00,95885,0.0,0.0
1,2013-01-28 00:00:00-05:00,1446.50,1452.50,1434.75,1447.75,86823,0.0,0.0
2,2013-01-29 00:00:00-05:00,1445.75,1458.00,1441.00,1451.75,84650,0.0,0.0
3,2013-01-30 00:00:00-05:00,1450.25,1481.75,1447.00,1478.75,138947,0.0,0.0
4,2013-01-31 00:00:00-05:00,1477.25,1484.25,1455.00,1468.50,138487,0.0,0.0
...,...,...,...,...,...,...,...,...
2511,2023-01-19 00:00:00-05:00,1523.50,1528.50,1509.00,1514.75,124401,0.0,0.0
2512,2023-01-20 00:00:00-05:00,1514.25,1521.75,1504.00,1506.50,98916,0.0,0.0
2513,2023-01-23 00:00:00-05:00,1500.00,1503.00,1479.75,1490.25,134889,0.0,0.0
2514,2023-01-24 00:00:00-05:00,1491.50,1506.50,1487.00,1488.50,134889,0.0,0.0
2515,2023-01-25 00:00:00-05:00,1488.25,1504.75,1478.25,1503.50,105597,0.0,0.0

In [81]:
dates = df4['Date']
dates = dates.astype(np.int64)
ns_in_day = 24*60*60*np.int64(1e9)
dates //= ns_in_day
dates *= ns_in_day
dates = dates.astype(np.dtype('<M8[ns]'))
dates = pd.Series(dates)
df4['Date'] = dates

/var/folders/qn/sd1_3x2j4196db03067vql600000gn/T/ipykernel_98182/785655489.py:2: FutureWarning: casting datetime64[ns, America/New_York] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  dates = dates.astype(np.int64)

In [83]:
df4.to_csv('soybeanfutures_unfiltered_unclassified.csv')

In [95]:
# filter temporal domain to match project needs
#df4 = df4[(df4['Date'] >= '2017-01-01') & (df4['Date'] <= '2023-01-25')]
#df5 = df4[['Date', 'Close']]
#df5[df5.Date <= "2017-12-31"].mean() # closing mean for 2017 is 975.654382
#df5[(df5['Date'] >= '2018-01-01') & (df5['Date'] <= '2018-12-31')].mean() # avg closing cost for 2018 is 931.785857
#df5[(df5['Date'] >= '2019-01-01') & (df5['Date'] <= '2019-12-31')].mean() # avg closing cost for 2019 is 889.674603
#df5[(df5['Date'] >= '2020-01-01') & (df5['Date'] <= '2020-12-31')].mean() # avg closing cost for 2020 is 952.947628
#df5[(df5['Date'] >= '2021-01-01') & (df5['Date'] <= '2021-12-31')].mean() # avg closing cost for 2021 is 1374.558532
#df5[(df5['Date'] >= '2022-01-01') & (df5['Date'] <= '2022-12-31')].mean() # avg closing cost for 2022 is 693.885458
df5[(df5['Date'] >= '2023-01-01') & (df5['Date'] <= '2023-12-31')].mean() # avg closing cost for 2023 (as of January 25th) is 667.375

/var/folders/qn/sd1_3x2j4196db03067vql600000gn/T/ipykernel_98182/3137008916.py:10: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df5[(df5['Date'] >= '2023-01-01') & (df5['Date'] <= '2023-12-31')].mean() # avg closing cost for 2023 (as of January 25th) is 667.375

Close    1506.109375
dtype: float64

In [96]:
# make a dictionary with the results, convert it to a pandas date frame, then save as csv
comp2 = {'year': ['2017', '2018', '2019', '2020', '2021', '2022', '2023'],
        'avg_closing_cost': [975.654382, 931.785857, 889.674603, 952.947628, 1374.558532, 1550.662351, 1506.109375]
       }
df6 = pd.DataFrame(data=comp2)
df6

   year  avg_closing_cost
0  2017        975.654382
1  2018        931.785857
2  2019        889.674603
3  2020        952.947628
4  2021       1374.558532
5  2022       1550.662351
6  2023       1506.109375

In [97]:
df6.to_csv('avg_closing_costs_soy_unclassified_yahoo_finance.csv')

## Cotton
### Cotton does not come from the Chicago Board of Trade (CBOT), this may be a problem. Holding off for now.

In [98]:
# Cotton derived from ICE Futures. Currency in USX is listed on Yahoo Finance under ticker CT=F
cotton = yf.Ticker("CT=F")

# get stock info
#cotton.info

# get historical market data
# The valid options are 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y and ytd.
hist3 = cotton.history(period="10y")

In [99]:
df7 = hist3
df7.reset_index(inplace=True)

In [100]:
dates = df7['Date']
dates = dates.astype(np.int64)
ns_in_day = 24*60*60*np.int64(1e9)
dates //= ns_in_day
dates *= ns_in_day
dates = dates.astype(np.dtype('<M8[ns]'))
dates = pd.Series(dates)
df7['Date'] = dates

/var/folders/qn/sd1_3x2j4196db03067vql600000gn/T/ipykernel_98182/1709599468.py:2: FutureWarning: casting datetime64[ns, America/New_York] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  dates = dates.astype(np.int64)

In [101]:
df7.to_csv('cottonfutures_unfiltered_unclassified.csv')

In [110]:
# filter temporal domain to match project needs
df8 = df7[(df7['Date'] >= '2017-01-01') & (df7['Date'] <= '2023-01-25')]
df9 = df8[['Date', 'Close']]
#df9[df9.Date <= "2017-12-31"].mean() # closing mean for 2017 is 73.476255
#df9[(df9['Date'] >= '2018-01-01') & (df9['Date'] <= '2018-12-31')].mean() # avg closing cost for 2018 is 82.145538
#df9[(df9['Date'] >= '2019-01-01') & (df9['Date'] <= '2019-12-31')].mean() # avg closing cost for 2019 is 67.194484
#df9[(df9['Date'] >= '2020-01-01') & (df9['Date'] <= '2020-12-31')].mean() # avg closing cost for 2020 is 64.146285
#df9[(df9['Date'] >= '2021-01-01') & (df9['Date'] <= '2021-12-31')].mean() # avg closing cost for 2021 is 93.63162
#df9[(df9['Date'] >= '2022-01-01') & (df9['Date'] <= '2022-12-31')].mean() # avg closing cost for 2022 is 112.61761
df9[(df9['Date'] >= '2023-01-01') & (df9['Date'] <= '2023-12-31')].mean() # avg closing cost for 2023 (as of January 25th) is 667.375

/var/folders/qn/sd1_3x2j4196db03067vql600000gn/T/ipykernel_98182/1351360276.py:10: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df9[(df9['Date'] >= '2023-01-01') & (df9['Date'] <= '2023-12-31')].mean() # avg closing cost for 2023 (as of January 25th) is 667.375

Close    84.224706
dtype: float64

In [ ]:
# make a dictionary with the results, convert it to a pandas date frame, then save as csv
comp2 = {'year': ['2017', '2018', '2019', '2020', '2021', '2022', '2023'],
        'avg_closing_cost': [73.476255, 82.145538, 67.194484, 64.146285, 93.63162, 112.61761, 84.224706]
       }
df6 = pd.DataFrame(data=comp2)
df6